div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
body,
html,
figure,
section {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Helvetica Neue", sans-serif;
    overflow: hidden;
    padding: 3em;
}

:global(.global-modules) {
    display: flex;
    flex-wrap: wrap;
}

:global([data-styla-module-id]) {
    flex: 0 0 25%;
}

.App {
    display: none;
    /* only for rendering the app if needed, but not in this example */
}
